
*{
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow:unset;
}
// body{
  // overflow-y: hidden;

// }

h1, h2, h3, h4, h5, h6, p {
//   font-family: $font-family;
  padding: 0;
  margin: 0;
}
.col {
  // flex-basis: 0;
  // flex-grow: 1;
  max-width: 100%;
  padding: 0;
}
.theme--light.v-input input, .theme--light.v-input textarea {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 300;
}

.v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
}

.hide-overflow{
  overflow: hidden;
}


.dashboard-container-wrap{
  position: relative;
  min-height: 100vh;
}

@media only screen and(max-width:490px) {
  .logo-card{
    width: 60px;
    height: auto;
  }
  .arrow-card{
    width: 20px;
    height: auto;

  }
  .v-slide-group__content {
    .v-tab{
     font-size: 12px;
    }
}
.maps{
  width: 50px !important;
  height: 50px !important;
}
.text-WE{
  font-size: 8px !important;
}
}

.v-tabs:not(.v-tabs--vertical):not(.v-tabs--right) > .v-slide-group--is-overflowing.v-tabs-bar--is-mobile:not(.v-slide-group--has-affixes) .v-slide-group__prev {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 960px) {
  .textstart{
    text-align: center
  };
  .textend{
    text-align: center;
    align-self: center;

  
  };
} 